
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form asp-action="Index" method="post">
    <p>Username</p>
    <input type="text" name="username" />
    <p>Password</p>
    <input type="password" name="password" />
    <p>Confirm</p>
    <input type="password" name="password2" />
    <input type="submit" />
</form>
