@model IEnumerable<Models.Search>
@{
    ViewData["Title"] = "Index";
}

<style>
    .c-allMovies {
        display: flex;
        justify-content: flex-start;
    }

    .c-movie {
        display: flex;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 3px;
        background-color: #ededed;
        margin: 20px;
    }

    .c-movie__image {
        max-height: 200px;
        margin: 5px;
    }
</style>

<h1>Movies</h1>
<div class=" c-allMovies">
    @foreach (var item in Model)
    {
        <div class="c-movie">
            <a asp-action="MovieDetail" asp-route-id="@item.imdbID">
                <img class="c-movie__image" src="@Html.DisplayFor(modelItem => item.Poster)" />
                <div>
                    <h6>@Html.DisplayFor(modelItem => item.Title)</h6>
                    <p>@Html.DisplayFor(modelItem => item.Year)</p>
                </div>
            </a>
        </div>
    }
</div>
