@model Models.ReviewTask_RA
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<form asp-action="Update" asp-action-id="@Model.Id" method="post" >
    <p>Comment</p>
    <input type="text" name="comment" value="@Model.Comment"/>
    <p>Score</p>
    <input type="range" min="0" max="5" value="@Model.Score" name="score" />
    <button type="submit">Update review</button>
</form>
